__pycache__
.env
.env-example
.env-enc
venv

*.pyc
*.pyo
*.pyd

.coverage
.coverage.*
.cache

.git
.pytest_cache
readme.md

.ansible
.idea
.vscode

.dockerignore
Dockerfile
compose.override.yaml
compose.yaml
.releaserc.json
.gitignore
changelog.md
